<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Assistant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <link rel="stylesheet" href="{{url_for('static',filename='css/styleVirtualAssistant.css')}}">

</head>
<body>
    <div class="container">
        <div class="display">
            <img src="{{url_for('static',filename='img/sound.gif')}}" alt="initial_display">
        </div>
        <h1>J A R V I S </h1>
        <p>I am Jarvis ! How may I assist you?</p>

        <div class="microphone">
            <button class="SpeakToMe" id="SpeakToMe"><i class="fas fa-microphone-alt"></i></button>
            <h3 class="content" id="content">Click Here to Speak something</h3>
        </div>
    </div>

   
   
    <h2 class="answer" id = "answer"></h2>
    
    <script src="{{url_for('static', filename='js/virtualAssistant.js')}}"></script>
</body>
</html>